.loan-view {
    height: 250px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    box-shadow: 0px 0px 30px #2321321F;
    border: 1px solid #FFFFFF;
    border-radius: 0px 20px 20px 0px;
    opacity: 1;
    background-color: #9f70cb;
    margin-top: 130px;
    .alignText{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    }
    .fontSize{
        font-size: 12px;
        color: white;
        font-weight: 100px;
    }
}