<ng-container>
    <!-- <div>
        <img class="imgClass" src="assets/images/circle.png">
  </div> -->
  <nav class="navbar navbar-expand-md navbar-light">
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul>
        <div>
            <img class="imgLogo" src="assets/images/logo.png">
        </div>
     </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Solution</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item pd-5">
            <app-button [isBorderExist]="true" [color]="'purple'" [backgroundClass]="'white-back'" [width]="'80px'" [height]="'25px'" [color]="'purple'" label="Login"></app-button>
            </li>
            <li class="nav-item pd-5">
            <app-button [backgroundClass]="'purple-back'" [color]="'white'" [width]="'120px'" [height]="'25px'" label="Get Started"></app-button> 
            </li>
        </ul>
    </div>
</nav>
 
    <div class="upperContainer">
        
      <div class="topLeftDiv">
        <h1 class="leftHeader mb-0">We make it Super <p class="mb-0">Simple</p></h1>
        <div class="blackDivider"></div>
     
      <div>
          <div>
                <img class="imgClass" src="assets/images/collect_img-video.png">
          </div>
          <div>
                <img class="imgBottomClass" src="assets/images/accounting_dots.png">
          </div>
      </div>
    </div>
    <div  class="left">
        <app-eligibility-calc></app-eligibility-calc>
        <div>
            <img class="rightBottomClass" src="assets/images/accounting_dots.png">
      </div>
    </div>
    <div class="right">
        <app-loan-amount></app-loan-amount>
    </div>
  </div>
  
</ng-container>

<ng-container>
  <div class="lowerContainer">
    <div class="left">
        <app-common-card 
          description="Get terms loans that your business needs within 72 hours" 
          title="Quick cash disbursement"
          imageURL="/../../assets/images/card_1.png">
       </app-common-card>
       <app-common-card
          imageURL="/../../assets/images/card_2.png"
          description="Achieve your financial goals with an amzing interest rate starting at 13% per annum"
          title="Low interest rate">
       </app-common-card>
       <app-common-card  imageURL="/../../assets/images/card_3.png" 
          description="Get started instantly by submitting only your basic details and banking statements"
          title="Zero Paperwork"></app-common-card> 
    </div>
    <div class="middle">
        <app-common-card [desColor]="'white'" [titleColor]="'white'" [backgroundClass]="'purple-back'" imageURL="/../../assets/images/card_4.png"
            description="Manage banking accounting & everything in between on one platform"
            title="Ace your business finances">
        </app-common-card> 
        <app-common-card  imageURL="/../../assets/images/card_5.png"
            description="Zero EMI for first 3 months on back to business loans of upto 1 lakh"
            title="Loans to fight COVID-19">
        </app-common-card> 
    </div>
    <div class="rightClass">
        <h1 class="leftHeader">
            Boost Your business <p>with open</p>
        </h1>
      <div class="divider"></div>
        <p class="textClass">
Get your hand on a term loans that's crafted for your business
        </p>
        <div>
            <app-button [isBorderExist]="true" [width]="'200px'" [color]="'purple'" [backgroundClass]="'white-back'" label="Get an Open Account"></app-button>
        </div>
    </div>
 </div>
    
</ng-container>



<router-outlet></router-outlet>